<nav class="navbar navbar-expand-lg navbar-dark bg-#e0f7fa">
    <div class="col-lg-3">
    <a class="navbar-brand" href="#">
      
        <img src="../../../assets/img/pixogram1.png" width="100" height="100" alt="">
     
    </a>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="col-lg-6">
        <a type="button " class="btn btn-info" routerLink="single-media">UploadMedia</a>
        <a type="button " class="btn btn-info" routerLink="my-media">MyMedia</a>
        
        <a href="followers/following" type="button " class="btn btn-info">Followers/Follwowing</a>
    </div>
  
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LogIn</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
      </form>
     -->
     <div class="col-lg-3">
        <a href="accounts" type="button " class="btn btn-info">Account</a>   
     </div>
  </nav>

